To use named tuples, we first have to define the structure of the tuple:

In [1]:
from collections import namedtuple

Coordinates = namedtuple("Coordinates", "latitude, longitude")
london = Coordinates(51.51, -0.12)
paris = Coordinates(latitude=48.86, longitude=2.35)

In [2]:
paris[0], london[1]

(48.86, -0.12)

In [3]:
isinstance(paris, tuple)

True

They also allow accessing the structure based on the names we specified:

In [4]:
paris.latitude, london.longitude

(48.86, -0.12)

Plain function example

In [5]:
def min_max(lst: list[int]) -> tuple:
    min_ = min(lst)
    max_ = max(lst)
    return min_, max_

In [6]:
l = [1, 3, 2, 0, 20, -5]
results = min_max(l)
print(results)

(-5, 20)

In [ ]:
Named Tuple Function Example

In [7]:
MinMax = namedtuple("MinMax", "min, max")
def min_max(lst: list[int]) -> MinMax:
    min_ = min(lst)
    max_ = max(lst)
    return MinMax(min=min_, max=max_)

In [8]:
minmax = min_max(l)
print(f"min={minmax.min}, max={minmax.max}")

min=-5, max=20